body{
    font-family: 'Roboto', sans-serif;
}

.container{
}

.grey-bg{
    background-color: #f3f5f9;
}

.dark-blue-text{
    color: #031b4e;
}

.navbar{
    background-color: white;
    min-height: 0;
    border-radius: 0;
}

.blue-link{
    color: #0069ff;
    font-size: 16px;
    font-weight: 700;
}

.blue-link:hover{
    color: #1633ff;
    text-decoration: none;
}

.btn.btn-default.white-button{
    background-color: white;
    color: #006aff;
    border: 1px solid #006aff;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 16px;
}

.btn.btn-default.blue-button{
    background-color: #006aff;
    color: white;
    border: 1px solid #006aff;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 16px;
}

/*_____________________ Header _____________________*/

.navbar-left, .navbar-right{
    margin: 0;
}

.navbar-left li, .navbar-right li{
    padding: 0;
}

/*_________ Top Nav _________*/
.top-nav{
    height: 40px;
    padding: 0 25px;
    margin: 0;
    border: 0;
    font-size: 12px;
    color: #5b6987;
    font-weight: 700;
    border-bottom: 1px solid rgb(229,232,237);
}

.navbar-default .navbar-nav > li > a:hover{
    color: #006aff;
}


.new-span{
    font-size: 9px;
    padding: 4px 9px;
    margin-right: 10px;
    background-color: #00d7d2;
    border-radius: 5px;
}

/*_________ Bottom Nav _________*/
.bottom-nav{
    min-height: 66px;
    padding: 10px 25px;
    margin: 0;
    border: 0;
}

.navbar-brand{
    height: 100%;
    padding: 9px 25px;
    vertical-align: middle;
}

.logo-img{
    width: 172px;
    height: 28px;
}

.bottom-nav .navbar-nav > li > a{
    font-size: 14px;
    font-weight: bold;
    color: #031b4f;
}

.arrow-down:after{
    content: "\f078";
    font-family:"Font Awesome 5 Free";
    font-weight: 700;
    color: #031b4e;
}

#sign-in{
    margin-right: 15px;
}

/*_____________________ Welcome _____________________*/
.welcome{
    padding-top: 150px;
    padding-bottom: 60px;
    min-height: 900px;
    color: white;
    background-color:#0069ff;
    background-image:url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

.left-welcome{
    margin-top: 50px;
    text-align: center;
}

.left-welcome div{
    max-width: 670px;
}

.left-welcome div h1{
    font-weight: bold;
    font-size: 31px;
}

.left-welcome div p{
    font-size: 24px;
}

.card{
    width: 370px;
    height: 469px;
    background-color: white;
    margin: auto;
    margin-top: 32px;
    border-radius: 6px;
}

.card-header{
    padding-top: 16px;
    padding-bottom: 12px;
    text-align: center;
    border-radius: 6px 6px 0 0;

}
.card-title{
    font-size: 19px;
    font-weight: bold;
}

.card-content{
    padding: 32px;
}

.form-group{
    margin-bottom: 8px;
}

.form-control{
    height: 48px;
    font-size: 16px;
    padding: 16px;
    border-color: #e5e8ed;
    border-radius: 3px;
}

form .btn.btn-default.blue-button{
    width: 100%;
    padding: 20px 30px;
    font-weight: 700;
}

.card-sign-in{
    border-top: 1px solid #f3f5f9;
    padding: 32px;
}

#google-sign-up{
    font-weight: 700;
    width: 80%;
    margin-right: 5px;
}

#github-button{
    font-size: 18px;
}

.terms{
    font-size: 12px;
    margin: 12px;
    text-align: center;
}

/*_____________________ Business Solutions _____________________*/
.business-solutions{
    padding: 64px 24px;
    text-align: center;
}

.business-solutions-title{
    color: #5b6987;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 30px;
}

.link-container{
    margin: 20px 0;
}



/*_____________________ Deploy _____________________*/
.deploy{
    text-align: center;
    padding: 120px 0;
}

.deploy-header{
    margin-bottom: 70px;
}
.deploy-header h2{
    font-size: 36px;
    font-weight: 600;
}

.deploy-header p{
    color: #5b6987;
    font-size: 20px;
    font-weight: 100;
    margin-top: 20px;
}

.list-group{
    margin-bottom: 30px;
}

.list-group-item,
.list-group-item:first-child,
.list-group-item:last-child,
button.list-group-item {
    text-align: center;
    font-size: 16px;
    color: rgba(3, 27, 78, 0.6);
    padding: 15px 20px;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid rgba(3, 27, 78, 0.6) ;
    max-width: 100px;
    display: inline-block;
}

a.list-group-item:hover,
button.list-group-item:hover{
    color: rgba(3, 27, 78, 0.6);
    background-color: white;
}

a.list-group-item:focus,
button.list-group-item:focus{
    color: #031b4e;
    background-color: white;
    border-color: #0069ff;
    font-weight: 700;
    outline: none;
}

.wrapper{
    margin-bottom: 30px;
}

.wrapper h5{
    font-size: 18px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: 10px;
}

.wrapper p{
    color: #5b6987;
    font-size: 16px;
}

/*_____________________ Design for developers _____________________*/
.designed-for-developers{
    text-align: center;
    padding: 120px 0 ;
}

.dfp-header{
    margin-bottom: 50px;
}
.dfp-title{
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.dfp-parag{
    font-size: 20px;
    margin-top: 20px;
}

.carousel-img-container img {
    max-width: 780px;
}

.carousel-img-container{
    margin: 30px 60px 20px 60px;
}

.carousel-img-container::before{
    content:"\f060";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 70px;
}

.carousel-img-container::after{
    content:"\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-left: 70px;
}

.carousel-parag{
    color: #5b6987;
    font-size: 16px;
    margin-top: 30px;
    display: inline-block;
}

.dot-container{
    margin: 20px 0;
}

.fa-circle{
    font-size: 14px;
}

/*_____________________ Built For Business _____________________*/
.built-for-business{
    padding: 120px 24px;
    text-align: center;
}

.bfb-title{
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.bfb-bottom{
    margin-top: 64px;
}

.bfb-column{
    margin-top: 40px;
}

.bfb-column h5{
    margin-top: 20px;
    font-size: 20px;
    font-weight: 700;
}

.bfb-column p{
    margin-top: 20px;
    font-size: 18px;
    color: #5b6987;
}

.bfb-column a{
    margin: 10px 0;
    display: inline-block;
}

/*_____________________ World Customers _____________________*/
.world-customers{
    padding: 120px 24px;
    color: white;
    background:#031b4e;
    background-image: url('https://prismic-io.s3.amazonaws.com/www-static/bb563ec9-49ef-4ceb-8468-da84f1509fcc_bg-map-solid.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.wc-top-row{
    text-align: center;
}

.wc-title{
    font-size: 36px;
    font-weight: 700;
}

.wc-parag{
    font-size: 20px;
}

.wc-parag a{
    font-size: 20px;
}

.wc-bottom-row{
    margin-top: 64px;
}

.city-abbrev{
    font-weight: 700;
}
.city-name{
    display: inline-block;
    margin: 10px 0 10px 40px;
    opacity: 0.6;
}
.wc-list-item{

}

.test-speed-link{
    color:#00d7d2;
    margin-top: 10px;
}
.test-speed-link:hover{
    color:#1633ff;
    margin-top: 10px;
    text-decoration: none;
}

/*_____________________ Development teams _____________________*/
.development-teams{
    text-align: center;
    padding: 120px 0 ;
}

.dt-header{
    margin-bottom: 50px;
}

.dt-title{
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

.dt-parag{
    font-size: 22px;
    font-weight: 100;
    margin-top: 20px;
}

.dt-parag a{
    font-size: 22px;
    font-weight: 100;
}

.colonna{
    border: 1px solid blue;
}

.quote-container{
    display: inline-block;
    background-color: white;
    border-radius: 6px;
    margin: 40px;
    padding: 40px 0;
    max-width: 970px;
    border: 1px solid red;
}

.quote-wrapper{
    display: inline-block;
    border: 1px solid green;
    width: 70%;
}

.quote-logo-container img{
    width: 200px;
    height: auto;
}

.quote-container::before{
    content:"\f060";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.quote-container::after{
    content:"\f061";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
}

.quote-parag{
    width: 80%;
    color: #5b6987;
    font-weight: 100;
    font-size: 24px;
    margin: 30px 0;
    display: inline-block;
}


/*_____________________ Get started _____________________*/
.get-started{
    padding: 64px 24px;
    background-image: url('https://prismic-io.s3.amazonaws.com/www-static/b4ba92a9-0956-484b-9a3f-68ef4d550fd4_bg-home-cta.svg');
    background-size: cover;
}
.get-started-now{
    color: white;
}

.get-started-now h1{
    font-size: 36px;
    font-weight: 700;
}

.create-your-account{
    text-align: right;
}
.create-your-account .btn.btn-default.white-button{
    height:100%;
    padding: 15px;
    font-size: 18px;
    display: inline-block;
}


/*_____________________ Footer _____________________*/
footer{
    height: 700px;
    background-color: #010e28;
    padding: 48px 0;
    font-size: 16px;
}

footer a{
    color: #ffffff80;
}
footer a:hover{
    color: white;
    text-decoration: none;
}

.footer-links{
    padding: 20px 0;
    border-bottom: 1px solid #ffffff80;
}

.ul-link{
    text-align:left;
    list-style: none;
    color: #ffffff80;
}

.ul-link li:first-child{
    color: white;
    margin: 25px 0;
}

.li-link{
    margin-bottom: 10px;
}

.copyright p{
    display: inline-block;
    margin-left: 10px;
    color: #ffffff80;

}

.footer-social{
    padding-top: 35px;
}

.social-icons{
    text-align: right;
}

.social-icons-ul{
    list-style: none;
}

.social-icons-ul li{
    display: inline-block;
    font-size: 22px;
    margin-left: 15px;
}





/************ Media Query ***********/
@media screen and (min-width: 768px){

    .navbar-toggle {
        display: inline-block;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .left-welcome{
        margin-top: 200px;
        text-align: left;
    }

    .left-welcome div h1{
        font-size: 58px;
    }

    .list-group-item,
    .list-group-item:first-child,
    .list-group-item:last-child,
    button.list-group-item {
        text-align: left;
        display: block;
        border: none;
        border-left: 1px solid rgba(3, 27, 78, 0.6) ;
    }

    .wrapper{
        text-align: left;
    }
}


@media screen and (min-width: 992px){

    .card{
        margin-top: 120px
    }

    .bfb-bottom{
        text-align: left;
    }
}


@media screen and (min-width: 1200px){

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse.collapse {
        display: block!important; /* per sovrascrivere l'important di bootstrap */
    }

}
