body{
    font-family: 'Roboto', sans-serif;
}

.container{

}

.navbar{
    background-color: white;
    min-height: 0;
    border-radius: 0;
}

.btn.btn-default.white-button{
    background-color: white;
    color: #006aff;
    border: 1px solid #006aff;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 16px;
}

.btn.btn-default.blue-button{
    background-color: #006aff;
    color: white;
    border: 1px solid #006aff;
    border-radius: 5px;
    padding: 10px 16px;
    font-size: 16px;
}

/*_____________________ Header _____________________*/

.navbar-left, .navbar-right{
    margin: 0;
}

.navbar-left li, .navbar-right li{
    padding: 0;
}

/*_________ Top Nav _________*/
.top-nav{
    height: 40px;
    padding: 0 25px;
    margin: 0;
    border: 0;
    font-size: 12px;
    color: #5b6987;
    font-weight: 700;
    border-bottom: 1px solid rgb(229,232,237);
}

.navbar-default .navbar-nav > li > a:hover{
    color: #006aff;
}


.new-span{
    font-size: 9px;
    padding: 4px 9px;
    margin-right: 10px;
    color: #031b4e;
    background-color: #00d7d2;
    border-radius: 5px;
}

/*_________ Bottom Nav _________*/
.bottom-nav{
    min-height: 66px;
    padding: 10px 25px;
    margin: 0;
    border: 0;
}

.navbar-brand{
    height: 100%;
    padding: 9px 25px;
    vertical-align: middle;
}

.logo-img{
    width: 172px;
    height: 28px;
}

.bottom-nav .navbar-nav > li > a{
    font-size: 14px;
    font-weight: bold;
    color: #031b4f;
}

.arrow-down:after{
    content: "\f078";
    font-family:"Font Awesome 5 Free";
    font-weight: 700;
    color: #031b4e;
}

#sign-in{
    margin-right: 15px;
}

/*_____________________ Welcome _____________________*/
.welcome{
    padding-top: 150px;
    padding-bottom: 60px;
    min-height: 900px;
    color: white;
    background-color:#0069ff;
    background-image:url("https://www.digitalocean.com/static/bg-home-hero-3-bb4b33b77274db09b969f629ad81c4d5.svg");
    background-position: center;
    background-size: cover;
    margin-bottom: 0;
}

.left-welcome{
    margin-top: 50px;
    text-align: center;
}

.left-welcome div{
    max-width: 670px;
}

.left-welcome div h1{
    font-weight: bold;
    font-size: 31px;
}

.left-welcome div p{
    font-size: 24px;
}

.card{
    width: 370px;
    height: 469px;
    background-color: white;
    margin: auto;
    margin-top: 32px;
    border-radius: 6px;
}

.card-header{
    padding-top: 16px;
    padding-bottom: 12px;
    color: #031b4e;
    background-color: #f3f5f9;
    text-align: center;
    border-radius: 6px 6px 0 0;

}
.card-title{
    font-size: 19px;
    font-weight: bold;
}

.card-content{
    padding: 32px;
    color: #031b4e;
}

.form-group{
    margin-bottom: 8px;
}

.form-control{
    height: 48px;
    font-size: 16px;
    padding: 16px;
    border-color: #e5e8ed;
    border-radius: 3px;
}

form .btn.btn-default.blue-button{
    width: 100%;
    padding: 20px 30px;
    font-weight: 700;
}

.card-sign-in{
    border-top: 1px solid #f3f5f9;
    padding: 32px;
}

#google-sign-up{
    font-weight: 700;
    width: 80%;
    margin-right: 5px;
}

#github-button{
    font-size: 18px;
}

.terms{
    font-size: 12px;
    margin: 12px;
    text-align: center;
}

/*_____________________ Business Solutions _____________________*/
.business-solutions{
    background-color: #f3f5f9;
    padding: 64px 24px;
    text-align: center;
}

.business-solutions-title{
    color: #5b6987;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 30px;
}

.link-container{
    margin: 20px 0;
}
.business-link{
    color: #0069ff;
    font-size: 16px;
    font-weight: 700;
}

.business-link:hover{
    color: #1633ff;
    text-decoration: none;
}
















/************ Media Query ***********/
@media screen and (min-width: 768px){

    .navbar-toggle {
        display: inline-block;
    }

    .navbar-collapse.collapse {
        display: none!important;
    }

    .left-welcome{
        margin-top: 200px;
        text-align: left;
    }

    .left-welcome div h1{
        font-size: 58px;
    }


}

@media screen and (min-width: 992px){

    .card{
        margin-top: 120px
    }

}

@media screen and (min-width: 1200px){

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse.collapse {
        display: block!important; /* per sovrascrivere l'important di bootstrap */
    }

}
